<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Blackjack.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=|DataDirectory|\Database.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
</configuration>